body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;

}

header{
  background-color: #0047ab; 
  /*color: #ffd700;*/
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent; 
  transition: border-bottom-color 0.3s; 
}

nav ul li a:hover {
  border-bottom-color: #ffd700; 
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 80px; 
  position: absolute;
  right: 10px;
  top: 10px;
  height: auto;
}

header img {
  max-width: 100px;
}

main {
  padding: 20px;
  flex: 1;
}

h2 {
  color: #4CAF50;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #ffd700;
  margin-bottom: 20px;
  position: relative;
}

#data {
  list-style-type: none;
  padding: 0;
}

#data li {
  background: white;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  min-height: 50px;
  width: 100%;
  bottom: 0;
}
